<div *ngIf="cubos">
    <div class="card" *ngFor="let cubo of cubos">
        <div class="card" style="width: 18rem;">
            <img src="{{cubo.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cubo.nombre}}</h5>
                <p class="card-text">Modelo: {{cubo.modelo}}, Marca: {{cubo.marca}}</p>
                <a [routerLink]="['/detalles/',cubo.idCubo]" class="btn btn-primary">Detalles</a>
            </div>
        </div>
    </div>
</div>
